<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../secciones/head'); %>
</head>

<body class="d-flex flex-column min-vh-100">
  <main>
    <div class="container">
      <%- include('../secciones/menu'); %>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <h1>SoftWorld</h1>
        <h1>Información de la empresa</h1>
    
        <br />
        <br />
        <p>
          Misión: Nuestra misión es mejorar la vida de las personas y transformar industrias mediante el poder de la
          tecnología. Buscamos crear soluciones inteligentes y prácticas que impulsen la innovación y faciliten la vida
          cotidiana.
        </p>
        <p>
          Visión: Nos esforzamos por ser líderes en el campo de la tecnología y ser reconocidos como una marca confiable
          y respetada a nivel mundial. Queremos ser pioneros en el desarrollo de soluciones disruptivas que resuelvan
          problemas complejos.
        </p>
        <p>
          Cultura empresarial: Nuestra empresa se caracteriza por fomentar un ambiente de trabajo creativo, colaborativo
          e inclusivo. Los empleados son apasionados por la tecnología y se les alienta a innovar y explorar nuevas
          ideas.
        </p>
        <p>
          Ubicación: La sede central de TechGenius se encuentra en una zona tecnológica próspera, con oficinas
          regionales en diferentes países para brindar soporte a nivel global.
        </p>
        <p>
          RobotX: Una línea de robots autónomos diseñados para diversas aplicaciones, desde asistencia en el hogar hasta
          tareas industriales.
        </p>
        <p>
          Plataforma de Seguridad Cibernética: TechGenius ofrece una solución completa de ciberseguridad que protege a
          las empresas y los usuarios finales contra amenazas en línea.
        </p>
        <p>
          SoftwareX Suite: Un conjunto de aplicaciones y programas de software para empresas que incluye herramientas de
          productividad, gestión de proyectos y análisis de datos.
        </p>
        <p>
          SmartHome: Una solución integrada para el hogar inteligente que permite controlar y automatizar dispositivos
          mediante una aplicación móvil.
        </p>
        <p>
          IoT Connect: Una plataforma que permite a las empresas conectar y gestionar dispositivos IoT de manera segura
          y eficiente.
        </p>
        <iframe src="https://prezi.com/p/embed/zvowtux8h40z/" id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" allow="autoplay; fullscreen" height="315" width="560"></iframe>
        <style>
          body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
          }

          .container {
            text-align: center;
          }

          img {
            max-width: 300px;
            border: 2px solid #ccc;
            border-radius: 10px;
            margin-bottom: 20px;
          }  
          p{
            text-align: justify;
            color: rgb(249, 249, 245);
          }
          
        </style>
        <img src="https://www.siliconweek.com/wp-content/uploads/2018/04/aviavatar@4x.jpg" alt="Imagen">
        <!--en la ruta de la imagen pongan URL-->
    </div>
  </main>
  <footer class="footer mt-auto py-3 bg-light">
    <%- include('../secciones/footer'); %>
  </footer>
</body>

</html>